.header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 74px;
    background-color: #202020;
    padding: 0 40px;
}
@media screen and (min-width: 320px) and (max-width: 768px)  {
    .header {
        padding: 0 14px;
    }
}

