.about-project {
    max-width: 1200px;
    margin: 90px auto 110px;
}
.project__title {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin: 0;
    color: #FFFFFF;
}
.project__title::after {
    margin-top: 23px;
    content: '';
    max-width: 1280px;
    height: 1px;
    background-color: #DADADA;
}
.about-project__container {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    gap: 30px;
}
.about-project__about-item {
    max-width: 550px;
}
.about-project__about-title{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
.about-project__about-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-top: 26px;
}
.about-project__lines {
    display: flex;
    width: 100%;
    margin-top: 93px;
}
.about-project__line {
    width: 100%;
}
.about-project__line-text {
    color: #fff;
    background-color: #303030;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 100%;
    margin-bottom: 14px;
}

.about-project__line-text_green {
    background-color: #2BE080;
    color: #000000;
}
.about-project__line_green {
    max-width: 228px;
}
.about-project__line {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about-project__line-text-after {
    color: #8B8B8B;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1179px)  {
    .about-project {
        padding: 0 18px;
        margin: 70px 0;
    }
    .project__title {
        font-size: 18px;
    }
    .project__title::after {
        margin-top: 28px;
    }
    .about-project__about-title {
        font-size: 18px;
    }
    .about-project__container {
        margin-top: 60px;
        flex-direction: column;
        gap: 56px;
    }
    .about-project__about-text {
        font-size: 11px;
    }
    .about-project__line_green {
        max-width: 100px;
    }
    .about-project__line-text {
        font-size: 11px;
    }
    .about-project__line-text-after {
        font-size: 11px;
    }
}