.about-me {
    margin: 110px  auto 100px;
    max-width: 1200px;
}
.about-me__photo {
    max-width: 270px;
    border-radius: 5px;
}
.about-me__container {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}
.about-me__title {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    margin: 0;
}
.about-me__text{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin: 18px 0 26px 0;
}
.about-me__list {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 100px 0 0 0;
}
.about-me__list-item {
    text-decoration: none;
    color: #fff;
}
.about-me__history {
    margin: 0;
}
@media screen and (max-width: 1179px)  {
    .about-me {
        padding: 0 50px;
    }
    .about-me__title {
        font-size: 40px;
    }
    .about-me__text {
        font-size: 12px;
    }
    .about-me__history {
        font-weight: 400;
        font-size: 12px;
    }
    .about-me__container {
        gap: 49px
    }
    .about-me__list {
        font-size: 14px;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px)  {
    .about-me__container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}
